## Colab Setup

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
"""
Change directory to where this file is located
"""
# %cd 'COPY&PASTE FILE DIRECTORY HERE'

/content/drive/MyDrive/2-1_MLDL/hw2/dataset

## Import Modules

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# You may import other models from scikit-learn.
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

## 1. Diabetes Classification

In [ ]:
diabetes = pd.read_csv("diabetes.csv") # load dataset

In [ ]:
len(diabetes)

768

In [ ]:
diabetes.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### Question (a)
Train **at least 2** different classification models for the diabetes dataset and briefly explain your choice of models.

Make sure the training and evaluation codes are run in this notebook, and the results should be printed out. e.g., accuracy: 00%

(We will not run the cells to train and evaluate the models if the results are not printed out in your submitted file.)

your answer here

In [ ]:
# your code here

### Question (b)
In the next cell, report the best model and explain why you chose this model.

In your explanation, include the differences between the models you fitted in (a).

Also, describe how you optimized the final model to get the best performance.

You will get full credit if you plot the process of model optimization.

In [ ]:
# optimize your model here
# plotting the optimization process is necessary to get full credit.

your answer for (b) here

## 2. Credit Score Classification

In [ ]:
credit_score = pd.read_csv("credit_score.csv")

In [ ]:
len(credit_score)

30000

In [ ]:
credit_score.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,8,34.0,Musician,30375.050,2426.254167,6.0,5.0,6.0,0.0,No Data,...,Standard,1367.11,35.452909,260.0,No,0.000000,35.244025,High_spent_Medium_value_payments,448.481023,Standard
1,6,47.0,Accountant,16609.095,1488.091250,2.0,3.0,4.0,3.0,"home equity loan,credit-builder loan,student loan",...,Good,864.00,36.989979,277.0,No,22.411006,26.706984,Low_spent_Small_value_payments,305.872096,Good
2,1,17.0,Writer,66289.360,5433.113333,4.0,5.0,15.0,2.0,"personal loan,student loan",...,Standard,713.33,35.810164,189.0,Yes,61.325213,59.890917,High_spent_Medium_value_payments,524.549646,Standard
3,6,40.0,Accountant,72936.680,5800.056667,0.0,2.0,12.0,1.0,student loan,...,Good,827.89,37.082235,381.0,No,51.672175,80.016877,High_spent_Medium_value_payments,698.316615,Good
4,6,39.0,Teacher,31846.760,2703.896667,2.0,4.0,7.0,2.0,"student loan,credit-builder loan",...,Good,881.26,35.267508,190.0,No,27.407887,64.455327,High_spent_Small_value_payments,392.324645,Good

### Question (c)
Train **at least 2** different classification models for the diabetes dataset and briefly explain your choice of models.

Make sure the training and evaluation codes are run in this notebook, and the results should be printed out. e.g., accuracy: 00%

(We will not run the cells to train and evaluate the models if the results are not printed out in your submitted file.)

your answer here

In [ ]:
# your code here

### Question (d)
In the next cell, report the best model and explain why you chose this model.

In your explanation, include the differences between the models you fitted in (a).

Also, describe how you optimized the final model to get the best performance.

You will get full credit if you plot the process of model optimization.

In [ ]:
# optimize your model here
# plotting the optimization process is necessary to get full credit.

your answer for (d) here

### Question (e)
In the next cell, examine the differences between the two datasets with respect to the reasoning behind your choice of the the best model for each dataset.